<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.augmentum.note"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8"
              android:targetSdkVersion="18"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:theme="@android:style/Theme.NoTitleBar"
                 android:icon="@drawable/ic_launcher" android:name=".NoteApplication">
        <activity android:name=".activity.NoteListActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.NoteAboutActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize"
                android:name=".activity.NoteEditActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AlarmActivity" android:theme="@android:style/Theme"/>
        <activity android:name=".activity.WeiboActivity"/>
        <receiver android:name=".receiver.AlarmReceiver" android:process=":remote">
            <intent-filter>
                <action android:name="com.augmentum.note.ALARM_ACTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".widget.NoteWidget2x2"
                  android:label="@string/app_widget2x2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.augmentum.note.WIDGET_UPDATE_2X2" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_2x2_info" />
        </receiver>
        <receiver android:name=".widget.NoteWidget4x4"
                  android:label="@string/app_widget4x4">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.augmentum.note.WIDGET_UPDATE_4X4" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_4x4_info" />
        </receiver>
    </application>

</manifest>
